<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>70720296525-ssc0dvdnrneihr2e1t2ok4jg3ime8f3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70720296525-ssc0dvdnrneihr2e1t2ok4jg3ime8f3q</string>
	<key>API_KEY</key>
	<string>AIzaSyBWmvlLGMSaRo4xzVZKZwxuc-eQYplDOu0</string>
	<key>GCM_SENDER_ID</key>
	<string>70720296525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonathanilc.chef-chef</string>
	<key>PROJECT_ID</key>
	<string>chefchef-9f708</string>
	<key>STORAGE_BUCKET</key>
	<string>chefchef-9f708.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70720296525:ios:d6c630aa84c9e818</string>
	<key>DATABASE_URL</key>
	<string>https://chefchef-9f708.firebaseio.com</string>
</dict>
</plist>